@font-face {
    font-family: 'TitilliumWeb';
    font-style: normal;
    src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wprx7IBmrqA5IG9z8WNe77b9o.woff) format('woff');
}

a, a:active, a:visited,a:hover{
    text-decoration: none;
    font-family: TitilliumWeb;
    color: #575757;
}

.top-menu-links a:hover{
    background-color: #df6c21;
    color: white;
}


body{
    margin: 0;
}

.wrapper{
    width: 944px;
    margin: 0 auto;
}

.header{
    float: left;
    margin: 0;
    padding: 0;
    height: 136px;
    width: 100%;
    background: url(images/Background.png);
    border-bottom: 1px solid #d0cfcf;
    clear: both;
}

.top-menu{
    width: 944px;
    margin: 0 auto;
}

.logo{
    background: url(images/logo.png) no-repeat center center;
    background-size: 100% 100%;
    height: 64px;
    width: 211px;
    text-indent: -999em;
    margin-top: 34px;
    float: left;
}

div.top-menu-links{
    height: 24px;
    float: right;
    margin-top: 21px;
    margin-right: -14px;
}

.top-menu-links ul{
    margin: 0;
    padding: 0;
}

.top-menu-links li{
    display: inline;
    font-size: 11px;
}

.top-menu-links li a{
    height: 24px;
    padding: 6px 14px 6px 14px;
    border-radius: 3px;
}

form{
    font-family: TitilliumWeb;
    float: right;
    clear: both;
    margin-top: -34px;
}
input.search{
    width: 231px;
    height: 33px;
    font-family: TitilliumWeb;
    font-size: 13px;
    font-weight: 400;
    background-color: #d9d6d6;
    border: none;
    border-bottom: 1px solid #9f9e9e;
    margin: 0 10px 0 10px;
    padding-left: 15px;
    line-height: 33px;
}

a.submit-button{
    background: url(images/Submit-button.png) no-repeat center center;
    background-size: 100% 100%;
    height: 19px;
    width: 19px;
    text-indent: -999em;
    float: right;
    margin-top: 10px;
}
a.submit-button:hover{
    background: url(images/Submit-button-hover.png);
}


div.main-menu{
    float: left;
    display: block;
    float: left;
    clear: both;
    height: 83px;
    width: 100%;
}

div.menu{
    margin: 0 auto;
    width: 941px;
}

div.menu ul{
    display: table;
    width: 999px;
    padding: 0;
    margin: 0;
    line-height: 75px;
    margin-left: -33px;
}

div.menu ul li{
    display: table-cell;
    text-align: center;
}

div.menu ul li a{
    padding:  5px 10px;
    font-family: TitilliumWeb;
    color: #dc6b2d;
    font-size: 14px;
    font-weight: 400;
}

div.menu ul li a:hover{
    background: url(images/hover.png);
    border-radius: 5px;
    color: #ffffff;
}

div.navi-bar{
    display: block;
    float: left;
    clear: both;
    height: 43px;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #cecdcd;
}

div.navigate{
    margin: 0 auto;
    width: 944px;
    font-family: TitilliumWeb;
    font-size: 11px;
    line-height: 45px;
    color: #888888;
}

div.location{
    float: left;
}

div.version ul{
    display: table;
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 55px;
}

div.version ul li{
    display: table-cell;
}

div.version ul li a{
    padding: 4px 8px;
    border: 1px solid #f5f5f5;
    color: #888888;
}

div.version ul li a:hover{
    border-radius: 3px;
    border: 1px solid #d0cfcf;
    background-color: #ffffff;
    
}

div.language{
    float: right;
}

a.flag{
    margin: 13px 0 0 6px;
    display: block;
    float: right;
    background: url(images/Vector-Smart-Object.png) no-repeat center center;  
    background-size: 100% 100%;
    height: 20px;
    width: 22px;
    text-indent: -999em;
    
}

a.flag:hover{
    background: url(images/Vector-Smart-Object-Hover.png)
}

a.destination{
    color: #393939;
    margin-left: 3px;
}

div.content{
    display: block;
    float: left;
    font-family: Arial;
    font-size: 12px;
    margin-top: 28px;
    line-height: 17px;
    font-weight: 400;
    color:#555555;
}

span.bold{
    font-weight: 700;
}

span.title{
    display: block;
    line-height: 0;
    font-family: TitilliumWeb;
    font-size: 33px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 50px;
}

div.content article{
    float: left;
    width: 680px;
    margin-top: 13px;
    margin-left: 44px;
}

div.side-menu{
    display: block;
    float: left;
    width: 220px;
}

div.side-menu ul{
    display: table;
    margin: 0;
    padding: 0;
}

div.side-menu ul li{
    display: table-row;
}

div.side-menu ul li a{
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    height: 45px;
    width: 220px;
    background-color: #dbd9d9;
    border-radius: 3px;
    line-height: 45px;
    padding-left: 20px;
}

div.side-menu ul li a:hover{
    background: url(images/hover-background.png);
    color: #ffffff;
}

hr{
    margin: 0;
    border: none;
    margin-top: 1px;
    border-bottom: 1px double #dbd9d9;
}

div.lines{
    display: block;
    margin-top: 45px;
}

div.footer{
    display: block;
    background-color: #d9d7d7;
    height: 266px;
    width: 100%;
    float: left;
}